{% extends "asset_app/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h3>
            If you are like me, You really don’t know what is happening in your neighborhood most of the time. What if an important meeting happens, theft or even death wouldn’t you like to know about it.   This is a Python application based on Django framework that allows you to be in the loop about everything happening in your neighborhood. From contact information of different handyman to meeting announcements or even alerts.
        </h3>
    </div>
{% endblock content %}
