{% extends "asset_app/base.html" %}
{% block content %}
{% for business in businesses %}
    
        <article class="media content-section">
          <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="article-title" href="{% url 'business-detail' business.id %}">Name: {{ business.business_name}}</a></h2>     
            </div>
            <img class="img-fluid" src="{{ business.business_image.url }}"><br>
            <a class="mr-2" href="{% url 'neighborhood-home'%}">Location: {{ business.business_location}}</a>  
            <br>
            <small class="text-muted">Email: {{ business.business_email }}</small>
            <br>
            <p class="article-content">Services: {{ business.business_description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
