{% extends "asset_app/base.html" %}
{% block content %}
{% for neighborhood in neighborhoods %}
    
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="article-title" href="{% url 'neighborhood-detail' neighborhood.id %}">Name: {{ neighborhood.neighborhood_name}}</a></h2>     
            </div>
            <img class="img-fluid" src="{{ neighborhood.neighborhood_image.url }}"><br>
            <a class="mr-2" href="{% url 'neighborhood-home'%}">Location: {{ neighborhood.neighborhood_location}}</a>  
            <br>
            <small class="text-muted">Number of Residents: {{ neighborhood.occupants_count }}</small>
            <br>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
