{% extends "asset_app/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.neighborhood_name }}</a>
        
        {% if object.admin == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'neighborhood-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'neighborhood-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <img class="img-fluid" src="{{ neighborhood.neighborhood_image.url }}"><br>
      <h2 class="article-title">{{ object.neighborhood_location }}</h2>
      <p class="article-content">{{ object.occupants_count }}</p>
    </div>
  </article>
{% endblock content %}
